.footer-main-container{
    margin-top: -50px;
   
}
.footer-head{
    display: flex;
    justify-content: center;
    gap: 170px;
     border-top: 1px solid grey;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}
.footer-head-container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

}
.footer-head-container-main-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
        width: 267.63px;

}
.footer-logo{
    height: 2.8vw;
    width: 2.8vw;
    background-color: bisque;
    border-radius: 50%;
}
.footer-heading{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 1.7vw;
    letter-spacing: 0%;
    vertical-align: middle;
}
.footer-head-container-main-desc{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.footer-head-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
.footer-head-container-head{
      font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.075vw;
    line-height: 1.7vw;
    letter-spacing: 0%;
    vertical-align: middle;
}
.footer-head-container-desc{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer-components{
    display: flex;
    gap: 100px;
}



.footer-tail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 250px;
}
.footer-tail-box-1{

font-weight: 400;
font-style: Regular;
font-size: 14;
letter-spacing: 0%;
vertical-align: middle;

}
.footer-tail-box-2{
    display: flex;
}


@media (max-width: 765px){
    .footer-main-container{
        scale: 0.8;
    }
    .footer-head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .footer-head-container-main{
        justify-content: center;
        align-items: center;
    }
    .footer-components{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .footer-logo{
        height: 36px;
        width: 36px;
    }
    .footer-heading{
        font-size: 26px;
    }
.footer-head-container-head{
    font-size: 16px;
    text-align: center;
}
.footer-head-container-desc{
    text-align: center;
}


    .footer-tail{
        gap: 16px;
        font-size: 12px;
    }
    
}


